.satu {
    background-color: rgb(42, 140, 165);
    height: 100px;
}
.dua {
    background-color: rgb(35, 12, 119);
    height: 500px;
}
.tiga{
    background-color: rgb(74, 233, 225);
    height: 50px;
}